<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select a run</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="list-group">
        <a href ng-repeat="run in runs | orderBy : '-startDateTime' track by $index" class="list-group-item modal-select-item" ng-click="onSelectRun(run)">
            <p>
                {{run.startDateTime | date:'fullDate'}}
                <br> {{run.startDateTime | date: 'shortTime'}}
            </p>
            <p>
                {{run.distance | number : 2}} km
                <br><span ng-show="run.route"><span class="glyphicon glyphicon-share text-information-icon" aria-hidden="true"></span>Published</span>
            </p>
        </a>
    </div>
</div>
